streamlit>=1.53.1
langchain==1.2.7
langchain-core==1.2.7
langchain-community==0.4.1
langchain-text-splitters==1.1.0
langchain-groq==1.1.1
langgraph==1.0.7

# We are omitting langchain-experimental temporarily to stop the 'classic' infection
# If you absolutely need it, add it back ONLY after the app boots once successfully.

# Other dependencies
sentence-transformers>=5.2.0
pypdf>=6.6.1
python-dotenv>=1.2.1
torch>=2.10.0
numpy>=2.4.1
rank-bm25>=0.2.2
qdrant-client>=1.16.2
pymongo>=4.16.0
bcrypt>=5.0.0
beautifulsoup4==4.14.3
lxml==6.0.2
